logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
.cache-main
.cache-tests
/.sbtserver
project/.sbtserver*
/RUNNING_PID
/bin/
/conf/oauth_tokens.conf
/.sbtserver/connections/master.log
chessForWebtech-8927f704419c.json
